/* "This gives the background with the font for the text of the flair. */

/* a:after{background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle;} */

/* Special Flairs */

a[href$="/user/ShortWarrior"]:after
{ content: "My hatred of fat-asses is ceaseless and complete (I blew TPW for this flair)";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/LuciferCat"]:after
{ content: "24 BMI and barely skating by";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/Swoledamort"]:after
{ content: "Too Many Dicks in Ass";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/technician90"]:after
{ content: "Creator of Slimgr";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/the_penis_apprentice"]:after
{ content: "Sucks too much dick";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/The_Penis_Apprentice"]:after
{ content: "Sucks too much dick";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/DatViet"]:after
{ content: "Honorary Aryan";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/Miaiam"]:after
{ content: "Likes Homer's D";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/LardHammer"]:after
{ content: "Destroyer of Ham Planets";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

/* a[href$="/user/Duress56"]:after
{ content: "Convicted Child Molester";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }
*/
a[href$="/user/journalistsarelazy"]:after
{ content: "Verified Spiderman";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/she"]:after
{ content: "Verified Scary Jew Witch";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/G4"]:after
{ content: "Verified Faggot";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/moe"]:after
{ content: "Verified Dog Fucker";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/JTtheGhost"]:after
{ content: "Verified Auschwitz Survivor";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

a[href$="/user/thegoldenboy"]:after
{ content: "Verified Cuckold";background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

/* "Verified Shitlord" flair FOLLOW THE WAY FLAIRS ARE SETUP */

a[href$="/user/shitlordcaligula"]:after,
a[href$="/user/NotMrS"]:after,
a[href$="/user/PM_ME_UR_SOURCE_CODE"]:after,
a[href$="/user/E_Neutrality"]:after,
a[href$="/user/shatomirputin"]:after,
a[href$="/user/notarealperson"]:after,
a[href$="/user/veetack"]:after,
a[href$="/user/Calorie-Kin"]:after,
a[href$="/user/KingdomN"]:after,
a[href$="/user/ImLying"]:after,
a[href$="/user/Ellvarah"]:after,
a[href$="/user/julbe43"]:after,
a[href$="/user/fuoco"]:after,
a[href$="/user/TotalCult"]:after,
a[href$="/user/tom-bombadil"]:after,
a[href$="/user/IamtheDreadLobster"]:after,
a[href$="/user/Phillyshitlord"]:after,
a[href$="/user/nomi_malone"]:after,
a[href$="/user/Pathogenesis25"]:after,
a[href$="/user/Shitty_McShitlord"]:after,
a[href$="/user/BigBoss"]:after,
a[href$="/user/FrozenKlondyke"]:after,
a[href$="/user/Sythek"]:after,
a[href$="/user/vordster"]:after,
a[href$="/user/DoctorKoctor"]:after,
a[href$="/user/RobertPaulson"]:after,
a[href$="/user/wbfla"]:after,
a[href$="/user/Joebro88"]:after,
a[href$="/user/AndrossAngel"]:after,
a[href$="/user/swizzlesticks"]:after,
a[href$="/user/dcs2000"]:after,
a[href$="/user/silvester"]:after,
a[href$="/user/dontqueefonmebro"]:after,
a[href$="/user/door_"]:after,
a[href$="/user/TheEnzo"]:after,
a[href$="/user/wolflink009"]:after,
a[href$="/user/Invisible_Nomad"]:after,
a[href$="/user/Melbourne43"]:after,
a[href$="/user/Adler"]:after,
a[href$="/user/fatness"]:after,
a[href$="/user/cleftscout"]:after,
a[href$="/user/Maisy"]:after,
a[href$="/user/Eysenor"]:after,
a[href$="/user/GreyFox"]:after,
a[href$="/user/floris"]:after,
a[href$="/user/Morgasm"]:after,
a[href$="/user/GrimRipple"]:after,
a[href$="/user/Ruston"]:after,
a[href$="/user/xxlthrowaway"]:after,
a[href$="/user/sketchyadvice77"]:after,
a[href$="/user/Chodder"]:after,
a[href$="/user/diefatfucks"]:after,
a[href$="/user/CutTheCurby"]:after,
a[href$="/user/MyFatHateFlows"]:after,
a[href$="/user/uLookFatInThoseGenes"]:after,
a[href$="/user/Oveneise"]:after,
a[href$="/user/Elysium"]:after,
a[href$="/user/Fatty_McGoo"]:after,
a[href$="/user/zeonin"]:after,
a[href$="/user/HoodedHoodlum"]:after,
a[href$="/user/CheckYourFupa"]:after,
a[href$="/user/Kahlo"]:after,
a[href$="/user/tuxedo"]:after,
a[href$="/user/CyanRyan"]:after,
a[href$="/user/greenymaco"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/Landao"]:after,
a[href$="/user/fryabetes"]:after,
a[href$="/user/crimsonpowder"]:after,
a[href$="/user/tisi"]:after,
a[href$="/user/Era"]:after,
a[href$="/user/4kneecator"]:after,
a[href$="/user/shitlordstrugglez"]:after,
a[href$="/user/bkmnalpha"]:after,
a[href$="/user/larionov"]:after,
a[href$="/user/LoveThighGap"]:after,
a[href$="/user/hotmusician"]:after,
a[href$="/user/ILoveFPH"]:after,
a[href$="/user/Lenvaldier"]:after,
a[href$="/user/herr_scheisse"]:after,
a[href$="/user/FatPeopleHateMe"]:after,
a[href$="/user/Reddifugee"]:after,
a[href$="/user/orange-avocado"]:after,
a[href$="/user/Grimace_Reaper"]:after,
a[href$="/user/todbert"]:after,
a[href$="/user/ppbox"]:after,
a[href$="/user/thorgin"]:after,
a[href$="/user/Wolfthorn"]:after,
a[href$="/user/AlanWake"]:after,
a[href$="/user/QuillQuote"]:after,
a[href$="/user/Fallkniven"]:after,
a[href$="/user/CrackerBInebriated"]:after,
a[href$="/user/underthemotherboard"]:after,
a[href$="/user/redditHasCooties "]:after,
a[href$="/user/MC_BarelyLegible"]:after,
a[href$="/user/Lord_Shitlord"]:after,
a[href$="/user/bieberhole_69"]:after,
a[href$="/user/SetsAndReps"]:after,
a[href$="/user/FatPeopleHateAccount"]:after,
a[href$="/user/Daimao"]:after,
a[href$="/user/LJM"]:after,
a[href$="/user/ThinkingClear"]:after,
a[href$="/user/jrlascody"]:after,
a[href$="/user/iloveNoseRings"]:after,
a[href$="/user/firekarat"]:after,
a[href$="/user/PureFix"]:after,
a[href$="/user/diggeler"]:after,
a[href$="/user/yourhero7"]:after,
a[href$="/user/CttCJim"]:after,
a[href$="/user/cassis"]:after,
a[href$="/user/Shimmy"]:after,
a[href$="/user/joelmooner"]:after,
a[href$="/user/talones"]:after,
a[href$="/user/LazarusLong"]:after,
a[href$="/user/ogcook"]:after,
a[href$="/user/Allchiefedup24"]:after,
a[href$="/user/SouthPark"]:after,
a[href$="/user/BWBHAMMER"]:after,
a[href$="/user/archers_bows9"]:after,
a[href$="/user/Infiltrator"]:after,
a[href$="/user/Stinkybeetusfoot"]:after,
a[href$="/user/Anonymous_Coward"]:after,
a[href$="/user/danunit"]:after,
a[href$="/user/imnotyourfriendpal"]:after,
a[href$="/user/Tuna_n_Rice"]:after,
a[href$="/user/rshackleford252525"]:after,
a[href$="/user/CrackingYs"]:after,
a[href$="/user/the_foreigner"]:after,
a[href$="/user/raznog"]:after, /*last spot */
a[href$="/user/pretending_to_work"]:after,
a[href$="/user/alawn0204"]:after,
a[href$="/user/EndDrugAndOtherWars"]:after,
a[href$="/user/bloodygames"]:after,
a[href$="/user/THE_LAST_SHITLORD"]:after,
a[href$="/user/RedditThoughtPolice"]:after,
a[href$="/user/theunrighteous"]:after,
a[href$="/user/Officedrone"]:after,
a[href$="/user/Ajaxofbarbaria"]:after,
a[href$="/user/Yogus"]:after,
a[href$="/user/Honormyfupa"]:after,
a[href$="/user/NoTears4Fatties"]:after,
a[href$="/user/lionheart"]:after,
a[href$="/user/CustardsLastStand"]:after,
a[href$="/user/AlexanderGunther"]:after,
a[href$="/user/War_Wombat"]:after,
a[href$="/user/fsck"]:after,
a[href$="/user/kaO_rosseforP"]:after,
a[href$="/user/prisonersandpriests"]:after,
a[href$="/user/MissChenandlerBong"]:after,
a[href$="/user/Gigan"]:after,
a[href$="/user/ThisWeirdIndividual"]:after,
a[href$="/user/fupaccino"]:after,
a[href$="/user/PeaceLoveAndRamen"]:after,
a[href$="/user/Malek"]:after,
a[href$="/user/Nyte"]:after,
a[href$="/user/RlyRlyGoodlookn"]:after,
a[href$="/user/Just_talk"]:after,
a[href$="/user/4444"]:after,
a[href$="/user/Cartesian_Duelist"]:after,
a[href$="/user/dontdoxxmebro"]:after,
a[href$="/user/Hurt_Fee_Fees"]:after,
a[href$="/user/ShitLord-Vader"]:after,
a[href$="/user/mrwoo2010"]:after,
a[href$="/user/Mugen"]:after,
a[href$="/user/DoctorSpaceman"]:after,
a[href$="/user/Xenophero"]:after,
a[href$="/user/billdred"]:after,
a[href$="/user/Callisti"]:after,
a[href$="/user/Shiny"]:after,
a[href$="/user/Chance"]:after,
a[href$="/user/smokratez"]:after,
a[href$="/user/Blooperman"]:after,
a[href$="/user/BoracicBaronetYr"]:after,
a[href$="/user/ShitlordLovesOreos"]:after,
a[href$="/user/Krewotic"]:after,
a[href$="/user/ChipSlap"]:after,
a[href$="/user/YikYak"]:after,
a[href$="/user/HateCumbuckets"]:after,
a[href$="/user/DrunkenPieRat"]:after,
a[href$="/user/TheShitlordBellossom"]:after,
a[href$="/user/Monsterbox"]:after,
a[href$="/user/Moudi"]:after,
a[href$="/user/Elcycs"]:after,
a[href$="/user/Tuna_n_Rice"]:after,
a[href$="/user/MrCrackALack"]:after,
a[href$="/user/antisugar"]:after,
a[href$="/user/KhanKhalifa"]:after,
a[href$="/user/green_man"]:after,
a[href$="/user/BigBadWolf"]:after,
a[href$="/user/Robert_Archer"]:after,
a[href$="/user/wmeth"]:after,
a[href$="/user/pbateman"]:after,
a[href$="/user/GinTrain"]:after,
a[href$="/user/shitwink"]:after,
a[href$="/user/C9"]:after,
a[href$="/user/Tomtortoise"]:after,
a[href$="/user/mk46gunner"]:after,
a[href$="/user/L1amas"]:after,
a[href$="/user/razzac11"]:after,
a[href$="/user/BonesTheJester"]:after,
a[href$="/user/droopy2525"]:after,
a[href$="/user/Umrtvovacz"]:after,
a[href$="/user/devoresekk"]:after,
a[href$="/user/shitlordAnthrax"]:after,
a[href$="/user/Wingedfoot13"]:after,
a[href$="/user/itazuka"]:after,
a[href$="/user/SirGutless"]:after,
a[href$="/user/Proverbs23"]:after,
a[href$="/user/LordShittington"]:after,
a[href$="/user/Usualsuspect"]:after,
a[href$="/user/ThisIsMyRealName"]:after,
a[href$="/user/PsychicTaco115"]:after,
a[href$="/user/ForTheTruth"]:after,
a[href$="/user/imaginareality"]:after,
a[href$="/user/The_ChosenOne"]:after,
a[href$="/user/WhaleWails"]:after,
a[href$="/user/BigBlackSock"]:after,
a[href$="/user/00ellis"]:after,
a[href$="/user/Thinnerprivilege"]:after,
a[href$="/user/ShitlordCaleb"]:after,
a[href$="/user/MrSaxoBeetus"]:after,
a[href$="/user/Rokuah"]:after,
a[href$="/user/fryabeetus"]:after,
a[href$="/user/TunaAndCucumbers"]:after,
a[href$="/user/uvulectomy"]:after,
a[href$="/user/windingtables"]:after,
a[href$="/user/pm_me_your_excuses"]:after,
a[href$="/user/HamsAlwaysEatSnacks"]:after,
a[href$="/user/blackie"]:after,
a[href$="/user/Dacoon63"]:after,
a[href$="/user/LessRealsMoreFeels"]:after,
a[href$="/user/hulkingmanbeast"]:after,
a[href$="/user/Cool-it-Fatboy"]:after,
a[href$="/user/DishingShitLikeA"]:after,
a[href$="/user/Swole_is_life"]:after,
a[href$="/user/TehGlitch"]:after,
a[href$="/user/WildHamBeastTamer"]:after,
a[href$="/user/Apeabel"]:after,
a[href$="/user/DirtAddsHP"]:after,
a[href$="/user/Dueperdue"]:after,
a[href$="/user/theeyeisnotsatisfied"]:after,
a[href$="/user/hitlers_biggest_fan"]:after,
a[href$="/user/thatdamnchef"]:after,
a[href$="/user/Wwanker"]:after,
a[href$="/user/MetaTrauma_Shitlord"]:after,
a[href$="/user/allaboutthattreble"]:after,
a[href$="/user/FriedrichNietzsche"]:after,
a[href$="/user/PuddleGut"]:after,
a[href$="/user/Totenglocke"]:after,
a[href$="/user/aden"]:after,
a[href$="/user/inablackbox"]:after,
a[href$="/user/treyman780"]:after,
a[href$="/user/RippedSeTXshitlord"]:after,
a[href$="/user/DoctorShitlord_MD"]:after,
a[href$="/user/AlexanderBlack96"]:after,
a[href$="/user/Alephant"]:after,
a[href$="/user/CB750F"]:after,
a[href$="/user/ScreaminMime"]:after,
a[href$="/user/ObeseRedditAdmin"]:after,
a[href$="/user/entitledmoo"]:after,
a[href$="/user/Allergic_to_hams"]:after,
a[href$="/user/shitLordran"]:after,
a[href$="/user/fattyatemysympathy"]:after,
a[href$="/user/TheShitLordCynic"]:after,
a[href$="/user/Verified_Shitlord"]:after,
a[href$="/user/calcaliente"]:after,
a[href$="/user/D1Sun"]:after,
a[href$="/user/bloopton"]:after,
a[href$="/user/Hannabis"]:after,
a[href$="/user/GregorSamsa"]:after,
a[href$="/user/MathunBeag"]:after,
a[href$="/user/Jessee"]:after,
a[href$="/user/RapidLynx"]:after,
a[href$="/user/Calza"]:after,
a[href$="/user/Portable_Tits"]:after,
a[href$="/user/DANKGHIDORAH"]:after,
a[href$="/user/Nujabes"]:after,
a[href$="/user/Mjello"]:after,
a[href$="/user/Honey_Badger"]:after,
a[href$="/user/Qualia"]:after,
a[href$="/user/TXeRunningMan"]:after,
a[href$="/user/Jimmy_Two_Fingers"]:after,
a[href$="/user/SilentMaster"]:after,
a[href$="/user/jonasbrotherfan69"]:after,
a[href$="/user/formerobeast"]:after,
a[href$="/user/FinallyLeftReddit"]:after,
a[href$="/user/FattyHater"]:after,
a[href$="/user/DieMafia"]:after,
a[href$="/user/FreedomToast"]:after,
a[href$="/user/nofatchix"]:after,
a[href$="/user/Theseu5"]:after,
a[href$="/user/DelusionalHominids"]:after,
a[href$="/user/Jeim"]:after,
a[href$="/user/ShitArchon"]:after,
a[href$="/user/FitSlav"]:after,
a[href$="/user/DecimateTheWeak"]:after,
a[href$="/user/KingMortales"]:after,
a[href$="/user/code_guerilla"]:after,
a[href$="/user/Raylan"]:after,
a[href$="/user/PuddleGut"]:after,
a[href$="/user/bunnyy"]:after,
a[href$="/user/ThinBlondeBeast"]:after,
a[href$="/user/professional_normie"]:after,
a[href$="/user/ScootyPoofTipper"]:after,
a[href$="/user/EatingSteak"]:after,
a[href$="/user/its-the-new-style"]:after,
a[href$="/user/unholymalachi"]:after,
a[href$="/user/conchpearls1"]:after,
a[href$="/user/shartlord"]:after,
a[href$="/user/BushClosedFPH"]:after,
a[href$="/user/monkeytennis"]:after,
a[href$="/user/Twentyonepointthree"]:after,
a[href$="/user/hiddencounter"]:after,
a[href$="/user/SeethingHatred"]:after,
a[href$="/user/MarshmallowCreme"]:after,
a[href$="/user/Magusontwowheels"]:after,
a[href$="/user/SpeakNoReeevil"]:after,
a[href$="/user/SocialJustice_Wario"]:after,
a[href$="/user/FupaTupa"]:after,
a[href$="/user/Runway22L"]:after,
a[href$="/user/WDTC1"]:after,
a[href$="/user/FupaTupa"]:after,
a[href$="/user/collegestudent24601"]:after, 
a[href$="/user/dude_srsly"]:after,
a[href$="/user/thatonefag"]:after,
a[href$="/user/BuffyTheHampireSlayr"]:after,
a[href$="/user/GrandFupa"]:after,
a[href$="/user/sexypleurisy"]:after,
a[href$="/user/metalpetal"]:after,
a[href$="/user/Bunraku"]:after,
a[href$="/user/NerdButNotFat"]:after,
a[href$="/user/Seeker74"]:after,
a[href$="/user/A_Vile_Climate"]:after,
a[href$="/user/LiterallyLittering"]:after,
a[href$="/user/pezz"]:after,
a[href$="/user/TRIGGURED"]:after,
a[href$="/user/shadowassassinqueef"]:after,
a[href$="/user/Z3r0-C00l"]:after,
a[href$="/user/Shemadethis"]:after,
a[href$="/user/Unsung_Heroes"]:after,
a[href$="/user/Teddy36"]:after,
a[href$="/user/temp413"]:after,
a[href$="/user/FPH_Shitlord"]:after,
a[href$="/user/Magitek_X"]:after,
a[href$="/user/FFat20"]:after,
a[href$="/user/red_runner"]:after,
a[href$="/user/z91x"]:after,
a[href$="/user/The-Surgeon"]:after,
a[href$="/user/FUPA_TROOPA"]:after,
a[href$="/user/praivo"]:after,
a[href$="/user/MeltedSnowflake"]:after,
a[href$="/user/FatFuckery"]:after,
a[href$="/user/SurgicalShitlord"]:after,
a[href$="/user/ScheissKaiser"]:after,
a[href$="/user/Blacklightning"]:after,
a[href$="/user/DXK3"]:after,
a[href$="/user/Fitblue"]:after,
a[href$="/user/Itsforhismum"]:after,
a[href$="/user/squealingbravery"]:after,
a[href$="/user/Sandow"]:after,
a[href$="/user/LCplShitlord"]:after,
a[href$="/user/wut"]:after,
a[href$="/user/kuraisamurai"]:after,
a[href$="/user/redditHasCooties"]:after,
a[href$="/user/NoFatChics"]:after,
a[href$="/user/Dough-not"]:after,
a[href$="/user/Get_Some"]:after,
a[href$="/user/64bitfitdude"]:after,
a[href$="/user/Eatmyboot"]:after,
a[href$="/user/et_tu_beetus"]:after,
a[href$="/user/Not-a-goat"]:after,
a[href$="/user/pwn"]:after,
a[href$="/user/WhiskeyAlpha"]:after,
a[href$="/user/delusions"]:after,
a[href$="/user/hams_have_diabeetus"]:after,
a[href$="/user/Sniktun2"]:after,
a[href$="/user/brocklandersexgf"]:after,
a[href$="/user/dragonjujo"]:after,
a[href$="/user/THX_1138"]:after,
a[href$="/user/PhitPhil"]:after,
a[href$="/user/tucket1"]:after,
a[href$="/user/Izana"]:after,
a[href$="/user/OldRunningMan"]:after,
a[href$="/user/seniorscubasquid"]:after,
a[href$="/user/LeeryLucifer"]:after,
a[href$="/user/TeeHee"]:after,
a[href$="/user/WhiskeyAlpha8600"]:after,
a[href$="/user/SpookyFrank"]:after,
a[href$="/user/satnavtomington"]:after,
a[href$="/user/sh1tl0rd_of_ac1d"]:after,
a[href$="/user/statik"]:after,
a[href$="/user/ImTim"]:after,
a[href$="/user/the_spectre"]:after,
a[href$="/user/Fuckcensorship"]:after,
a[href$="/user/ShitlordFoxmod"]:after,
a[href$="/user/AntiHam"]:after,
a[href$="/user/Naziadolfhitler"]:after,
a[href$="/user/RollCakeTroll"]:after,
a[href$="/user/dodecadildo"]:after,
a[href$="/user/AmIRelevantYet"]:after,
a[href$="/user/a_p"]:after,
a[href$="/user/TwoWholePizzas"]:after,
a[href$="/user/bigeasy"]:after,
a[href$="/user/cyclops1771"]:after,
a[href$="/user/sonic_sabbath"]:after,
a[href$="/user/dutchguy7"]:after,
a[href$="/user/pandaman212"]:after,
a[href$="/user/Tinedmovie4062"]:after,
a[href$="/user/MegaShitFactory"]:after,
a[href$="/user/totalitarianism"]:after,
a[href$="/user/JeepGuy79"]:after,
a[href$="/user/00pimp"]:after,
a[href$="/user/DarkLordofTheShit"]:after,
a[href$="/user/dickpork"]:after,
a[href$="/user/fuckthefatties24"]:after,
a[href$="/user/denko-chan"]:after,
a[href$="/user/EATMOAR"]:after,
a[href$="/user/olzsla"]:after,
a[href$="/user/TheOlu"]:after,
a[href$="/user/lefthandpath"]:after,
a[href$="/user/JiminyShitlord"]:after,
a[href$="/user/JustAnotherShitlord"]:after,
a[href$="/user/TheGreatLenov"]:after,
a[href$="/user/Mellowjell-o"]:after,
a[href$="/user/rotten_ronny"]:after,
a[href$="/user/fat_cunt_stunt_punt"]:after,
a[href$="/user/landwhaleintolerance"]:after,
a[href$="/user/narwic"]:after,
a[href$="/user/Vermality"]:after,
a[href$="/user/Kpeen"]:after,
a[href$="/user/Usualsuspect"]:after,
a[href$="/user/landwhaleintolerance"]:after,
a[href$="/user/captainbuttpirate"]:after,
a[href$="/user/Cow_Police"]:after,
a[href$="/user/3rdworld"]:after,
a[href$="/user/fek_sinjoro"]:after,
a[href$="/user/RickyStreetshitter"]:after,
a[href$="/user/XenoClimber"]:after,
a[href$="/user/Fooj"]:after,
a[href$="/user/Unsung_Heroes_again"]:after,
a[href$="/user/BaronVonThunderBolt"]:after,
a[href$="/user/Delorean1988"]:after,
a[href$="/user/tsasa"]:after,
a[href$="/user/dabsareking"]:after,
a[href$="/user/gaylordshitlord"]:after, 
a[href$="/user/Goater"]:after,
a[href$="/user/Stopthefatness"]:after,
a[href$="/user/vault_boy"]:after,
a[href$="/user/C11H15No2"]:after,
a[href$="/user/thatonefag"]:after,
a[href$="/user/HamSalad"]:after,
a[href$="/user/GainsGoblinGoebbels"]:after,
a[href$="/user/PocketSized"]:after,
a[href$="/user/lclif"]:after,
a[href$="/user/its-the-new-style"]:after,
a[href$="/user/Lopsid"]:after,
a[href$="/user/conchpearls1"]:after,
a[href$="/user/ScootyPoofTipper"]:after,
a[href$="/user/Psyrinx"]:after,
a[href$="/user/Dougal_McHaggis"]:after,
a[href$="/user/Volksgemeinschaft"]:after,
a[href$="/user/interflop"]:after, 
a[href$="/user/ShitLordWaifu"]:after,
a[href$="/user/monkeytennis"]:after,
a[href$="/user/Ilisyer"]:after,
a[href$="/user/CharlesMay"]:after,  
a[href$="/user/DevilsMonkey"]:after,
a[href$="/user/SeethingHatred"]:after, 
a[href$="/user/David_Bains_Jumper"]:after,
a[href$="/user/MarshmallowCreme"]:after,
a[href$="/user/HitlerDinduNufin"]:after,
a[href$="/user/hiddencounter"]:after,
a[href$="/user/Magusontwowheels"]:after,
a[href$="/user/Kaleidowave"]:after, 
a[href$="/user/theJshow"]:after,
a[href$="/user/FupaTupa"]:after,
a[href$="/user/WDTC1"]:after,
a[href$="/user/Jimbonez_Jonez"]:after,
a[href$="/user/fatsruineverything"]:after,
a[href$="/user/Condi_Shaun"]:after,
a[href$="/user/NoFun"]:after,
a[href$="/user/niallmurphytdub"]:after,
a[href$="/user/Pyrrha191"]:after,
a[href$="/user/ZaphodUnderpants"]:after,
a[href$="/user/ETres"]:after,
a[href$="/user/BeetJuice"]:after,
a[href$="/user/nosensemakes"]:after,
a[href$="/user/FightThisFire"]:after,
a[href$="/user/Youfatfuck"]:after,
a[href$="/user/eroln"]:after,
a[href$="/user/8BigMacNMuhDietCoke"]:after,
a[href$="/user/1159"]:after,
a[href$="/user/SaveTheChildren"]:after,
a[href$="/user/ineedbettername"]:after,
a[href$="/user/Fllmia"]:after,
a[href$="/user/Adolf_Lifter"]:after, 
a[href$="/user/EnrichedPiano"]:after,
a[href$="/user/JhonCatus"]:after,
a[href$="/user/SocratesOP"]:after,
a[href$="/user/aquaticteabag"]:after,
a[href$="/user/subsonic0702"]:after,
a[href$="/user/CanadianPucker"]:after,
a[href$="/user/Densz"]:after,
a[href$="/user/OnePaunchMan"]:after,
a[href$="/user/what_the_fudge"]:after,
a[href$="/user/AnyColourYouLike"]:after,
a[href$="/user/Anti-Social"]:after,
a[href$="/user/1stMillenial"]:after,
a[href$="/user/Scratchie"]:after,
a[href$="/user/NoMeGustanLosNiggers"]:after,
a[href$="/user/RogerByam"]:after,
a[href$="/user/raw"]:after,
a[href$="/user/hamplanetarium1"]:after, 
a[href$="/user/Beautyinblue"]:after,
a[href$="/user/Man_from_B_E_E_T_U_S"]:after,
a[href$="/user/AzarelDJ"]:after,
a[href$="/user/gaussian"]:after
{ content: "Verified Shitlord";  background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }

/* "Verified Shitlady" flair */

a[href$="/user/ConnieDeShuns"]:after,
a[href$="/user/FPHForever"]:after,
a[href$="/user/thisuserhatesyou"]:after,
a[href$="/user/i_am_the_ginger"]:after,
a[href$="/user/GenevieveJenkins"]:after,
a[href$="/user/eat_a_dick_por_favor"]:after,
a[href$="/user/ActualHourglass"]:after,
a[href$="/user/Thinchick"]:after,
a[href$="/user/fatis4punching"]:after,
a[href$="/user/strings"]:after,
a[href$="/user/bethygal83"]:after,
a[href$="/user/aretemis"]:after,
a[href$="/user/redherpbluederp"]:after,
a[href$="/user/Trickster"]:after,
a[href$="/user/32DDbitches"]:after,
a[href$="/user/Entitilitus"]:after,
a[href$="/user/MasterBettyPain"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/Skinny_McJiggles"]:after,
a[href$="/user/naked_ditchdigger"]:after,
a[href$="/user/SacoDeHuesos"]:after,
a[href$="/user/HonorYourBeetus"]:after,
a[href$="/user/Antimony"]:after,
a[href$="/user/shitladybird"]:after,
a[href$="/user/commandershitlorde"]:after,
a[href$="/user/SassyShitlady"]:after,
a[href$="/user/fearsnight"]:after,
a[href$="/user/redjenny"]:after,
a[href$="/user/Thippe"]:after,
a[href$="/user/Catcat"]:after,
a[href$="/user/longlostbleu"]:after,
a[href$="/user/wolfgirlnaya"]:after,
a[href$="/user/TheSashimiTamale"]:after,
a[href$="/user/VegetarianZombie1"]:after,
a[href$="/user/absmom20"]:after,
a[href$="/user/IAHA"]:after,
a[href$="/user/OgreSounds"]:after,
a[href$="/user/Gidg"]:after,
a[href$="/user/DatVitaminD"]:after,
a[href$="/user/dotty"]:after,
a[href$="/user/nothinggoddammit"]:after,
a[href$="/user/horse__tornado"]:after,
a[href$="/user/SeeYouNextTuesday"]:after,
a[href$="/user/theepilepticferret"]:after,
a[href$="/user/iscrapedmyknee"]:after,
a[href$="/user/ShiteLorde"]:after,
a[href$="/user/masyday"]:after,
a[href$="/user/LeanMeanShitQueen"]:after,
a[href$="/user/FatJavalina"]:after, /* last flair input */
a[href$="/user/nwo-chan"]:after,
a[href$="/user/miss_ann_thrope"]:after,
a[href$="/user/MeeblesMerble"]:after,
a[href$="/user/Randomninja"]:after,
a[href$="/user/Speshul_Sn0wflake"]:after,
a[href$="/user/darkmuffin"]:after,
a[href$="/user/valkyrieevergreen"]:after,
a[href$="/user/Fishgoose"]:after,
a[href$="/user/BuzzingBeaver"]:after,
a[href$="/user/thinbulina"]:after,
a[href$="/user/Dropkickbooties"]:after,
a[href$="/user/wolfgangiv"]:after,
a[href$="/user/pug_life"]:after,
a[href$="/user/GreenKitty"]:after,
a[href$="/user/morbidly_teehees"]:after,
a[href$="/user/maliblue"]:after,
a[href$="/user/ivegotaqueso"]:after,
a[href$="/user/znikole"]:after,
a[href$="/user/Nodra"]:after,
a[href$="/user/CaloricKarma"]:after,
a[href$="/user/CakeTrap"]:after,
a[href$="/user/fatpeopleh8_dotcom"]:after,
a[href$="/user/PrettyPeach"]:after,
a[href$="/user/fabulousalpaca"]:after,
a[href$="/user/HamTaro"]:after,
a[href$="/user/madam_psycho_sexy"]:after,
a[href$="/user/christy"]:after,
a[href$="/user/Ch3ck3rs"]:after,
a[href$="/user/shitmom"]:after,
a[href$="/user/Red_witch"]:after,
a[href$="/user/HarpoonTheWhales"]:after,
a[href$="/user/SkinnyVanillaLatte"]:after,
a[href$="/user/Tensor_Fasciae_Latte"]:after,
a[href$="/user/Fatblaster2000"]:after,
a[href$="/user/bellylugosi"]:after,
a[href$="/user/sharkxie"]:after,
a[href$="/user/pedestrian_x"]:after,
a[href$="/user/ICanWipeMyOwnAss"]:after,
a[href$="/user/Buggsie_Blue"]:after,
a[href$="/user/Size0YogaPants"]:after,
a[href$="/user/DietCokehead1"]:after,
a[href$="/user/Brightness"]:after,
a[href$="/user/Fatkini"]:after,
a[href$="/user/fattieboom"]:after,
a[href$="/user/Laughingllama"]:after,
a[href$="/user/putdownthedonut"]:after,
a[href$="/user/honormyacanthosis"]:after,
a[href$="/user/newbuggy"]:after,
a[href$="/user/PepeThePained"]:after,
a[href$="/user/8-BIT_Ruby"]:after,
a[href$="/user/Rimfakse"]:after,
a[href$="/user/Smartt88"]:after,
a[href$="/user/iheartmypuppy"]:after,
a[href$="/user/TheThinSister"]:after,
a[href$="/user/shortspice"]:after,
a[href$="/user/Babynachollama"]:after,
a[href$="/user/vanitysize00"]:after,
a[href$="/user/fuckredditcensorship"]:after,
a[href$="/user/FoxForce_Five"]:after,
a[href$="/user/WileyECryote"]:after,
a[href$="/user/baddreamstonight"]:after,
a[href$="/user/The_Lady_Galahad"]:after,
a[href$="/user/andsoitgoes"]:after,
a[href$="/user/Missfit"]:after,
a[href$="/user/FPHrefugee"]:after,
a[href$="/user/tinycicada"]:after,
a[href$="/user/WiredBones"]:after,
a[href$="/user/ObeseObituary"]:after,
a[href$="/user/ilieksnow"]:after,
a[href$="/user/EatYourKimchi"]:after,
a[href$="/user/codeverydamnday"]:after,
a[href$="/user/mmmmdonuts"]:after,
a[href$="/user/Laurendark"]:after,
a[href$="/user/canarynoir"]:after,
a[href$="/user/Silverstaryu"]:after,
a[href$="/user/Celtic_Queen"]:after,
a[href$="/user/pomegranate"]:after,
a[href$="/user/hornypickle"]:after,
a[href$="/user/sociallyanxious"]:after,
a[href$="/user/brachiosaurus_"]:after,
a[href$="/user/canarynoir"]:after,
a[href$="/user/Carsandsarcasm"]:after,
a[href$="/user/ridsloth"]:after,
a[href$="/user/curvygirl"]:after,
a[href$="/user/cultural_dissenter"]:after,
a[href$="/user/thelonelybench"]:after,
a[href$="/user/Skinnyphat_sleestak"]:after,
a[href$="/user/SweetStormy"]:after,
a[href$="/user/McDoublechins"]:after,
a[href$="/user/twhitucr"]:after,
a[href$="/user/thighgapgoddess"]:after,
a[href$="/user/Thinnerprivilege"]:after,
a[href$="/user/ur_gradeschool_crush"]:after,
a[href$="/user/clockworkgirl21"]:after,
a[href$="/user/moistFUPAcheeze"]:after,
a[href$="/user/hi5"]:after,
a[href$="/user/HorsesHateHams"]:after,
a[href$="/user/rainbow_ashtray"]:after,
a[href$="/user/MaryJaneDoe"]:after,
a[href$="/user/Makattack"]:after,
a[href$="/user/shezbot"]:after,
a[href$="/user/peripatetic"]:after,
a[href$="/user/RedhairedLemur"]:after,
a[href$="/user/nikesandheels"]:after,
a[href$="/user/CertifiedShitlord"]:after,
a[href$="/user/MolotovCocktail"]:after,
a[href$="/user/FuckingEatLess"]:after,
a[href$="/user/Slybunny"]:after,
a[href$="/user/ChilledPorn"]:after,
a[href$="/user/Gitoffmuhlawn"]:after,
a[href$="/user/libertas_aut_mors"]:after,
a[href$="/user/Donutday"]:after,
a[href$="/user/Fuck-off-fatties"]:after,
a[href$="/user/theepilepticferret"]:after,
a[href$="/user/Chronicallydieting"]:after,
a[href$="/user/Cyracs"]:after,
a[href$="/user/SSfriendship"]:after,
a[href$="/user/jdkthekid"]:after,
a[href$="/user/shadybrainfarm"]:after,
a[href$="/user/ThisIsMyAngerAccount"]:after,
a[href$="/user/bethygal83"]:after,
a[href$="/user/proteinfordays"]:after,
a[href$="/user/jennyanydots817"]:after,
a[href$="/user/Captain_Janeway"]:after,
a[href$="/user/Fictura"]:after, 
a[href$="/user/HasSelfControl"]:after, 
a[href$="/user/DLmorethanu"]:after, 
a[href$="/user/Masshole_shitlady"]:after, 
a[href$="/user/HamilySpawn"]:after, 
a[href$="/user/kauaikauaikauai"]:after, 
a[href$="/user/miqotes"]:after, 
a[href$="/user/BuzzingBeaver2"]:after, 
a[href$="/user/capricious"]:after, 
a[href$="/user/Coffeecat"]:after, 
a[href$="/user/PrivilegedHealthist"]:after, 
a[href$="/user/whatsatornado"]:after,
a[href$="/user/fatefish"]:after,
a[href$="/user/BangBangBoom"]:after,
a[href$="/user/Stubby"]:after,
a[href$="/user/BlkGrlKnickers"]:after,
a[href$="/user/drink_some_water"]:after,
a[href$="/user/PraiseBeToBeetus"]:after,
a[href$="/user/Shitlady_on_Wheels"]:after,
a[href$="/user/stupidlikeafox"]:after,
a[href$="/user/hamsbegone"]:after,
a[href$="/user/Abbytheobesemanx"]:after,
a[href$="/user/bananaelf"]:after,
a[href$="/user/Bureaucrat_36"]:after,
a[href$="/user/Buttress_of_windsor"]:after,
a[href$="/user/ElectricPurple"]:after,
a[href$="/user/icantstopeatingpizza"]:after,
a[href$="/user/mangiamerdeemorte"]:after,
a[href$="/user/PaoShadowBannedMe"]:after,
a[href$="/user/RoundTwoElectric"]:after,
a[href$="/user/Missingpiece"]:after,
a[href$="/user/Kappyten"]:after,
a[href$="/user/FatLoadOfCobblers"]:after,
a[href$="/user/FatShamingShitLady"]:after,
a[href$="/user/IttyBittyKitty"]:after,
a[href$="/user/goddamnroommate"]:after,
a[href$="/user/skinniemouse"]:after,
a[href$="/user/Corruption22"]:after,
a[href$="/user/starwalker"]:after,
a[href$="/user/mountainclimber"]:after,
a[href$="/user/thinsignificant"]:after,
a[href$="/user/Agrajag_"]:after,
a[href$="/user/SOS_roommateapotamus"]:after,
a[href$="/user/SoylentGreenday"]:after,
a[href$="/user/mstumblrinafupa"]:after,
a[href$="/user/PsychoSkinnyBitch"]:after,
a[href$="/user/Voatoxoverbotox"]:after,
a[href$="/user/Meadow"]:after,
a[href$="/user/lavaliere"]:after,
a[href$="/user/jimmorridumb"]:after,
a[href$="/user/Doorknobshurtmybones"]:after,
a[href$="/user/minerva109"]:after,
a[href$="/user/bukowskis_bluebird"]:after,
a[href$="/user/nonofattyno"]:after,
a[href$="/user/MagickCat"]:after,
a[href$="/user/Fentiaz"]:after,
a[href$="/user/invisiblecalories"]:after,
a[href$="/user/SugarPie"]:after,
a[href$="/user/stercorisdomina"]:after,
a[href$="/user/strawberryshitlady"]:after,
a[href$="/user/TunaFishTroubles"]:after,
a[href$="/user/babababacon"]:after,
a[href$="/user/bvoid"]:after,
a[href$="/user/lalalalourdes"]:after,
a[href$="/user/buttmuffins123"]:after,
a[href$="/user/KitKatLasagna55"]:after,
a[href$="/user/a_p"]:after,
a[href$="/user/SluttyBrownie"]:after,
a[href$="/user/totalbitch"]:after,
a[href$="/user/samantha721"]:after,
a[href$="/user/skinnyfattofit"]:after,
a[href$="/user/AppleSlice"]:after,
a[href$="/user/sniper_wolf"]:after,
a[href$="/user/BunnytheSlayer"]:after,
a[href$="/user/Brights"]:after,
a[href$="/user/BulimicBarbie"]:after,
a[href$="/user/Brunella"]:after,
a[href$="/user/mielikki"]:after,
a[href$="/user/deuxabuse"]:after,
a[href$="/user/LessBingeMorePurge"]:after,
a[href$="/user/transfit"]:after,
a[href$="/user/Lynx"]:after,
a[href$="/user/laurenrawrface"]:after,
a[href$="/user/Supersecretgf"]:after,
a[href$="/user/lovechaitea"]:after,
a[href$="/user/lll------lll"]:after,
a[href$="/user/grapefruitforever"]:after,
a[href$="/user/stealthyfox"]:after,
a[href$="/user/CherryLime"]:after,
a[href$="/user/ballsacks"]:after,
a[href$="/user/wearenotgoingleft"]:after,
a[href$="/user/JustAnotherShitlady"]:after,
a[href$="/user/Adi-opposed"]:after,
a[href$="/user/shrinkydinks"]:after,
a[href$="/user/Lapis-Lazuli"]:after,
a[href$="/user/hypercat"]:after,
a[href$="/user/lardcats"]:after,
a[href$="/user/EvilCookie"]:after,
a[href$="/user/Syphrosyne"]:after,
a[href$="/user/obesitarp"]:after,
a[href$="/user/santisimamuerte"]:after,
a[href$="/user/In_the_making"]:after,
a[href$="/user/Ellvarah"]:after, 
a[href$="/user/dotdashdashdot"]:after,
a[href$="/user/la_fupacabra"]:after,
a[href$="/user/Thinnerbeauty666"]:after,
a[href$="/user/Shitladyopossum"]:after,
a[href$="/user/tinyrunningshorts"]:after,
a[href$="/user/coffeeandmetal"]:after,
a[href$="/user/Happy_snappy"]:after,
a[href$="/user/Hume"]:after,
a[href$="/user/WhatTheFat"]:after,
a[href$="/user/HippyHoney"]:after,
a[href$="/user/proteinfordays"]:after,
a[href$="/user/OhTheHamanatee"]:after,
a[href$="/user/burntfishnchips"]:after,
a[href$="/user/oreovegan"]:after,
a[href$="/user/Masshole_shitlady"]:after,
a[href$="/user/Lurkerontheroof"]:after,
a[href$="/user/ZB122"]:after,
a[href$="/user/TimePulse"]:after,
a[href$="/user/Bunnnnnnn"]:after,
a[href$="/user/HasSelfControl"]:after,
a[href$="/user/sanseveria"]:after,
a[href$="/user/wuzhao"]:after, 
a[href$="/user/Foxyloxy"]:after,
a[href$="/user/Beetusalert"]:after,
a[href$="/user/juggornot"]:after,
a[href$="/user/Happy_snappy"]:after,
a[href$="/user/sizedouttaZero"]:after,
a[href$="/user/ThaiChai"]:after,
a[href$="/user/Nanoquark"]:after,
a[href$="/user/LightAsFeathers"]:after,
a[href$="/user/code187"]:after, 
a[href$="/user/MeowsephStalin"]:after, 
a[href$="/user/PM-me-your-PG-tips"]:after,
a[href$="/user/fattyboomboom"]:after,
a[href$="/user/Yesvape3"]:after,
a[href$="/user/kraftykat"]:after,
a[href$="/user/Fat_chance"]:after,
a[href$="/user/averagefoxy"]:after,
a[href$="/user/squirrelette"]:after,
a[href$="/user/Cabellista"]:after,
a[href$="/user/Taehyung"]:after,
a[href$="/user/Smaller"]:after,
a[href$="/user/LolturdFerguson"]:after,
a[href$="/user/laughing_90"]:after,
a[href$="/user/sharkzard"]:after,
a[href$="/user/GoldenPhoenix"]:after,
a[href$="/user/shitlady123"]:after,
a[href$="/user/shittycyclist"]:after,
a[href$="/user/HammyFlammy"]:after,
a[href$="/user/thighgapandcurves"]:after,
a[href$="/user/SevenDaysTooLong"]:after,
a[href$="/user/Sour_Kraut"]:after,
a[href$="/user/Aniabub"]:after,
a[href$="/user/lockedinlace"]:after,
a[href$="/user/RedStilettoes"]:after,
a[href$="/user/polingforabs"]:after,
a[href$="/user/nyLxx"]:after,
a[href$="/user/Pyhooya"]:after,
a[href$="/user/Pullmypork"]:after,
a[href$="/user/Redkraken"]:after,
a[href$="/user/Sugarfreeyogi"]:after,
a[href$="/user/diacetylmorfine"]:after,
a[href$="/user/Sharra"]:after,
a[href$="/user/unikko"]:after,
a[href$="/user/PetChan"]:after,
a[href$="/user/curves-shmurves"]:after,
a[href$="/user/Sylph"]:after,
a[href$="/user/Elumie"]:after,
a[href$="/user/BarbieBitch"]:after,
a[href$="/user/CakeDealer"]:after, 
a[href$="/user/hellno"]:after,
a[href$="/user/Countess_shitula"]:after
{ content: "Verified Shitlady";  background: #f8f8f8;border: 1px solid #e6e6e6;border-radius: 2px;color: #000000;line-height: 150%;margin-left: 0.5em;margin-right: 3px;padding: 2px 4px;vertical-align: middle; }



/* Mod Flairs */



/*

a[href$="/user/notarealperson"]:after {color: #666;content: "notaflair"; }
   
a[href$="/user/The_Penis_Wizard"]:after { background: #DF0101;content: "Literally Hitler"; }
  
a[href$="/user/HamathaMcBeetusButt"]:after { background: #F003F2;content: "Poetically Hitler"; }

a[href$="/user/Space_ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/Space_Ninja"]:after { background: #5533EC;content: "Offensively Hitler"; }

a[href$="/user/homersimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/HomerSimpson"]:after { background: #2ad42a;content: "Metaphorically Hitler"; }
 
a[href$="/user/shmuklidooha"]:after { background: #00c5ff;content: "Figuratively Hitler"; }
 
a[href$="/user/SportyStrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/sportystrawberry"]:after { background: #e31860;content: "Actively Hitler"; }

a[href$="/user/12_Years_A_Toucan"]:after { background: #e1d812; content: "Hitler's Toucan"; }

a[href$="/user/Archangelle_Achtung"]:after { background: #ff6633; content: "buchstäblich Hitler"; }
 
a[href$="/user/leelem0n"]:after { background: #ebf094; content: "Lifting Hitler"; }
*/

/* This makes it so flairs don't show up at the top of the page.  */


 a[title="Profile"]:after,a.upvoatsGiven:after{content:none;}
